@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.updatecategory body {
  background: #e0e0e0;
}

.updatecategory .login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  border-radius: 50px;
}

.updatecategory .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
}

.updatecategory .form input {
  outline: 0;
  background: #e0e0e0;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.updatecategory .form input:focus {
  background: #e0e0e0;
}

.updatecategory .form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #e0e0e0;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: .5s;
}

.updatecategory .form button:active {
  background: #395591;
}
.updatecategory .form button:hover{
    background-color: #bebebe93;
}
.updatecategory .back{
    text-decoration: none;
    transition: .7s;
    color: black;
    font-size: 15px;
}
.updatecategory .back:hover{
    color: red;
}
.updatecategory .backdiv{
    position: absolute;
    left: 20px;
    top: 20px;
}