.beneiftsBox .right h4{
    color: #111111;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    line-height: 1.2;
}
.beneiftsBox .right p{
    font-size: 16px;
    color: #444444;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 15px 0;
}
.benefits .all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 576px){
    .benefits .container{
        padding: 0 !important;
    }

    .benefits{
        padding: 3rem 20px !important;
    }
    .beneiftsBox{
        margin-bottom: 20px;
    }
    .benefits .all{
        margin-right: auto !important;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}